<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PHP South Africa 2018 Profiles</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
    
</head>

<body>
<div class="container" id="main-container">

    {% include 'about.twig.html' %}

    {% block bodyContainer %}{% endblock %}
    <div class="counter"><img  src="/images/counter.gif"></div>
</div>
<script src ="js/cursor.js"></script>
</body>
</html>